<!DOCTYPE html>
<html>
<head>
    <title>EJS</title>
    <style>
        body {
            background-color: #ffebee;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #b71c1c;
        }
        .btn-back {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #b71c1c;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1><%= mensaje %> (EJS)</h1>
    <a href="/" class="btn-back">← Volver al Menú</a>
</body>
</html>