<!DOCTYPE html>
<html>
<head>
    <title>EJS</title>
    <style>
        body {
            background-color: #ffebee;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #b71c1c;
        }
    </style>
</head>
<body>
    <h1><%= mensaje %> (EJS)</h1>
</body>
</html>